/* Paleta de colores */
:root {
  --rojo: #EF233C;
  --amarillo: #FFD100;
  --color-principal: #2B2D42;
  --rosa: #F62A66;
  --verde: #58AB54;
  --color-secundario: #ffffff;
  --fuente: 'Inter', sans-serif;
  --dot: #082a7b33
}

/* Reset base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--fuente);
  background-color: var(--color-secundario);
  color: var(--color-principal);
  line-height: 1.6;
}

header {
  background-color: var(--rojo);
  color: var(--color-secundario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  z-index: 1000;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

header.scrolled {
  background-color: var(--rojo);
  backdrop-filter: blur(5px);
}

main {
  padding-top: 80px;
}

.hidden{
  display: none !important;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
}

.nav {
  display: none;
  text-align: center;
  flex-grow: 1;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 100%;
  right: 1rem;
  background-color: var(--rojo);
  padding: 1rem;
  border-radius: 0.5rem;
  z-index: 100;
}

.nav-list a {
  color: var(--color-secundario);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  position: relative;
  transition: all 0.3s ease;
}

.nav-list a.active {
  font-weight: bold;
  color: var(--amarillo);
}

.nav-list a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: var(--amarillo);
  animation: underline-slide 0.3s ease forwards;
  border-radius: 2px;
}

@keyframes underline-slide {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.nav-list a:hover {
  transform: scale(1.1);
  color: var(--amarillo);
}

.nav-list a:hover i,
.nav-list a:hover span {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.nav-text {
  display: none;
}

.hamburger {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: var(--color-secundario);
  cursor: pointer;
}

.sun {
  height: 1.5rem;
  width: 1.5rem;
}

.dark-mode-toggle {
  background: none;
  border: none;
  color: var(--color-secundario);
  font-size: 1.2rem;
  cursor: pointer;
}

.main-home {
  padding: 0;
  position: relative;
  overflow: hidden;
}

.padding-top{
  padding-top: 5rem;
}

.img-full-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  
  min-height: 600px;
  
}

.img-full-container img {
  width: 100%;
  height: auto;
  display: block;
  min-width: 901px;
}

.superposicion-texto {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: white;  
  text-align: center;
  z-index: 2;
  background-color: rgba(10, 10, 10, .5);
  width: 100%;
  padding: 17px;
  
}


.superposicion-texto h1 {
  font-size: 2.5rem;
}

.superposicion-texto .eslogan {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 1000;
}

.superposicion-texto .botones {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.superposicion-texto .botones a {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 999px;
  background-color: #2B2D42;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  text-wrap: nowrap;
}

.superposicion-texto .botones a:hover {
  background: var(--rojo)
}

/****Seccion Galeria de imagenes - Carrusell*/
.galeria h2 {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: var(--rosa);
}

.carousel-container { 
	display: flex;
  position: relative;
  justify-content: center;
  margin: 80px auto 0 auto;
  width: 100%;
  height: 450px;
  perspective: 1000px;
}

.carousel-track {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card {
	position: absolute;
	width: 800px;
	height: 500px;
	background: white;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 20px 40px var(--color-principal);
	transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	cursor: pointer;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card.center {
	z-index: 10;
	transform: scale(1.1) translateZ(0);
}

.card.center img {
	filter: none;
}

.card.left-2 {
	z-index: 1;
	transform: translateX(-400px) scale(0.8) translateZ(-300px);
	opacity: 0.7;
}

.card.left-2 img {
	filter: grayscale(100%);
}

.card.left-1 {
	z-index: 5;
	transform: translateX(-200px) scale(0.9) translateZ(-100px);
	opacity: 0.9;
}

.card.left-1 img {
	filter: grayscale(100%);
}

.card.right-1 {
	z-index: 5;
	transform: translateX(200px) scale(0.9) translateZ(-100px);
	opacity: 0.9;
}

.card.right-1 img {
	filter: grayscale(100%);
}

.card.right-2 {
	z-index: 1;
	transform: translateX(400px) scale(0.8) translateZ(-300px);
	opacity: 0.7;
}

.card.right-2 img {
	filter: grayscale(100%);
}

.card.hidden {
	opacity: 0;
	pointer-events: none;
}

.carrusel-info {
	text-align: center;
	margin-top: 40px;
	transition: all 0.5s ease-out;
}

.titulo-nombre {
	color: var(--color-principal);
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 10px;
	position: relative;
	display: inline-block;
}

.titulo-nombre::before,
.titulo-nombre::after {
	content: "";
	position: absolute;
	top: 100%;
	width: 100px;
	height: 2px;
	background: var(--color-principal);
}

.titulo-nombre::before {
	left: -120px;
}

.titulo-nombre::after {
	right: -120px;
}

.descripcion-nombre {
	color: #848696;
	font-size: 1.5rem;
	font-weight: 500;
	opacity: 0.8;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding: 10px 0;
	margin-top: -15px;
	position: relative;
}
.dots {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 2rem 0 1rem;
}

.dot {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: var(--dot);
	cursor: pointer;
	transition: all 0.3s ease;
}

.dot.active {
	background: var(--color-principal);
	transform: scale(1.2);
}

.nav-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: #082a7b99;
	color: white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 20;
	transition: all 0.3s ease;
	font-size: 1.5rem;
	border: none;
	outline: none;
	padding-bottom: 4px;
}

.nav-arrow:hover {
	background: rgba(0, 0, 0, 0.8);
	transform: translateY(-50%) scale(1.1);
}

.nav-arrow.left {
	left: 20px;
	padding-right: 3px;
}

.nav-arrow.right {
	right: 20px;
	padding-left: 3px;
}


@media (max-width: 1024px) {
  .about-title {
		font-size: 4.5rem;
	}

	.card {
		width: 600px;
		height: 400px;
	}

	.card.left-2 {
		transform: translateX(-250px) scale(0.8) translateZ(-300px);
	}

	.card.left-1 {
		transform: translateX(-120px) scale(0.9) translateZ(-100px);
	}

	.card.right-1 {
		transform: translateX(120px) scale(0.9) translateZ(-100px);
	}

	.card.right-2 {
		transform: translateX(250px) scale(0.8) translateZ(-300px);
	}
  .mapa img{
    width: 65%;
  }
}

@media (max-width: 600px) {
	.about-title {
		font-size: 4.5rem;
	}

	.card {
		width: 200px;
		height: 280px;
	}

	.card.left-2 {
		transform: translateX(-250px) scale(0.8) translateZ(-300px);
	}

	.card.left-1 {
		transform: translateX(-120px) scale(0.9) translateZ(-100px);
	}

	.card.right-1 {
		transform: translateX(120px) scale(0.9) translateZ(-100px);
	}

	.card.right-2 {
		transform: translateX(250px) scale(0.8) translateZ(-300px);
	}

	.titulo-nombre {
		font-size: 2rem;
	}

	.descripcion-nombre {
		font-size: 1.2rem;
	}

	.titulo-nombre::before,
	.titulo-nombre::after {
		width: 50px;
	}

	.titulo-nombre::before {
		left: -70px;
	}

	.titulo-nombre::after {
		right: -70px;
	}
}


/* Modo oscuro dinámico */
body.dark {
  background-color: #1a1a1a;
  color: var(--color-secundario);
}

body.dark .header,
body.dark .nav-list {
  background-color: #333;
}

body.dark .nav-list a {
  color: var(--amarillo);
}

body.dark .footer {
  background-color: #111;
  color: var(--amarillo);
}


.footer{
  display: flex;
  justify-content: space-around;
}

.footer-group{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  Align-items: center;
}
.footer-group ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  Align-items: center;
}
.footer-logo{
  height: 9rem;
  width: 9rem;
  margin: auto;
}
@media (max-width: 599px) {
  .imagenes {
    flex-direction: column;
    transition: none !important;
  }

  .imagenes img {
    width: 100%;
  }

  .carousel-btn {
    display: none;
  }
}
.contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
.icons-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 2rem;
  text-align: center;
}
.icon{
  font-size: 40px;
  color: var(--color-principal);
}
.icon-link{
  text-decoration: none;
  color: var(--color-principal);
}

/* Media queries para tablets */
@media (max-width: 768px) {

  .contacto{
    margin: 1rem;
  }
  .icons-container {
    flex-direction: row;
    gap: 0rem;
  }

  .icon-container {
    padding: 10px 1.5rem;
    max-width: 45%;
  }

  .icon {
    font-size: 35px;
  }
  .resumen{
    margin: 0 2rem
  }
  .footer-content{
    gap: 0rem;
  }
}

/* Media queries para móviles */
@media (max-width: 480px) {


  .superposicion-texto .botones a{
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    text-wrap: nowrap;
  }
  .icons-container {
    align-items: center;
  }

  .icon-container {
    padding: 10px 1rem;
    max-width: 100%;
  }

  .icon {
    font-size: 30px;
  }

  .icon-link h2 {
    font-size: 1rem;
  }
  .footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-group{
    align-items: stretch;
  }
}

footer {
  background-color: var(--color-principal);
  color: var(--color-secundario);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  margin-top: 1rem;
}

footer a {
  color: var(--rojo);
  text-decoration: none;
}
.footer-logo img{
  height: 9rem;
}

/********Seccion ofertas********/
.oferta {
  margin-bottom: 40px;
}
.ofertas-grid {
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
}
.oferta-info {
  text-align: center;
}

.info {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.oferta-img {
  width: 100%;
  height: auto;
  border-radius: 14px;
  box-shadow: 0 4px 8px var(--color-principal);
  overflow: hidden;  
  transition: transform 0.3s ease;
}

.oferta-img:hover {
  transform: scale(1.05);
  cursor: default;   
}

.oferta-heading {
  align-items: center;
  justify-content: center;           
  margin-bottom: 5px;  
}

.oferta-heading h2 {
  margin: 0;
  color: #EF233C;     
  font-size: 2rem;
  font-weight: 800;
}

.oferta-p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.95rem;
  color: var(--color-principal);
  margin-top: 0;
  margin-bottom: 24px;
}

.oferta-p2 {
  font-size: 0.5rem;
  color: var(--color-principal);
  text-align: center;
  margin-bottom: 20px;
}

.oferta-btn{
  display: inline-block;
  background-color: #EF233C;      
  color: #FFFFFF;                
  padding: 10px 20px;              
  border-radius: 25px;            
  text-decoration: none;           
  font-weight: 500;                
  text-align: center;
  transition: background-color 0.3s ease;
}

.oferta-img-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}
.oferta-img-container img {
  width: 100%;          
  height: 400px;        
  object-fit: cover;    
  border-radius: 8px;    
  transition: transform 0.3s ease;
 }
 
.oferta-img-container img:hover {
  transform: scale(1.05);
  cursor: default;   
}

.oferta-btn:hover {
  background-color: #D7263D;       
}

/* Atracciones y tickets */

.grid-atracciones {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto 4rem;
}

.atraccion {
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 10px var(--color-principal);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.seccion-dividida {
  border-top: 4px dotted var(--rosa);
  padding-top: 3rem;
  margin-top: 2rem;
}

.atraccion:hover {
  transform: scale(1.05);
  cursor: default;
}

.atraccion img {
  width: 100%;
  max-width: 600px;
  height: auto;
  aspect-ratio: 20 / 9;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.titulo-seccion {
  text-align: center;
  margin-bottom: 20px;
}

.atraccion h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.atraccion p {
  font-size: 1rem;
  line-height: 1.4;
}

.formulario {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 10px var(--color-principal);
}

.formulario h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-principal);
}

.formulario label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

.formulario input,
.formulario textarea,
.formulario select {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: var(--fuente);
  font-size: 1rem;
}

.btn {
  background-color: #EF233C;
  color: white;      
  margin-top: 1rem;             
  padding: 10px 20px;                                              
  border: none;
  border-radius: 999px;
  cursor: pointer;
  display: block;
  width: 100%;
  font-weight: bold;
}

.btn:hover {
  background-color: #D7263D;
}

.error {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

.exito {
  color: var(--verde);
  text-align: center;
  margin-top: 1rem;
}

.resumen {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 30px;
}

.resumen button {
  max-width: 500px;
  width: 100%;
  margin: 20px auto 0;
  display: block;
}

.precios {
  text-align: center;
  margin: 40px auto;
  max-width: 900px;
}

.tarjetas-precio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px var(--color-principal);
  transition: transform 0.2s ease;
}

.tarjeta:hover {
  transform: scale(1.05);
}


.precio {
  font-size: 1.8rem;
  color: var(--verde);
  font-weight: bold;
}

.tarjeta ul {
  text-align: left;
  padding-left: 20px;
}

.tarjeta li {
  margin-bottom: 8px;
}

/********Para Tablets********/
@media (min-width: 600px) {
  .nav {
    display: flex;
    justify-content: center;
  }

  .nav-list {
    flex-direction: row;
    position: static;
    background: none;
    padding: 0;
  }

  .nav-text {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .dark-mode-toggle {
    position: absolute;
    right: 1rem;
  }
}

/********Para PCs********/
@media (min-width: 1024px) {
  .nav-text {
    display: inline;
  }

  .nav {
    justify-content: center;
  }
}

/********Para Celulares********/
@media (max-width: 599px) {
  header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    z-index: 1000;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .hamburger {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: var(--color-principal);
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 100;
  }

  .nav-list.open {
    max-height: 500px;
  }

  
  .carousel-cell img {
    height: 400px;
  }
}

#enlace-promo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 20px;
  background-color: var(--rojo);
  color: white;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: bold;
  z-index: 9999;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#enlace-promo:hover {
  background-color: var(--verde);
}